body
{
    margin-left: 10%;
    margin-right: 10%;
}

h1
{
	position: absolute;
	left: 570px;
	top: 1px;
}

div#SystemOperation
{
	position: absolute;
    left: 200px;
	top: 70px;
	width: 80px;
	padding: 0;
	margin-right: 0;
}

div#Introduction
{
	position: absolute;
	left: 1050px;
	top: 90px;
	width: 300px;
}

div#IntroToButton
{
	font-weight:bold;
	font-size:25px;
	color:black;
}

ul
{
	list-style: none;
	height: 800px;
	width: 80px;
	padding: 0;
	margin-right: 0;
}

li
{
	margin-bottom: 30px;
}

input
{
	width: 100px;
	height: 60px;
}

canvas
{
	position: absolute;
    left: 380px;
    top: 70px;
}

#intro-title
{
	font-size: 30px;
	font-weight:800;
}

.intro
{
	padding-top: 10px;
	font-size: 20px;
}
